<section id="plats">
    <h4 class="mini_title">Nos plats</h4>
    <h2 class="title">Incontournables</h2>
    <div class="dishes">
        <div class="dish">
            <img src="{{ asset('images/Images/Plats-/1.png')}}">
            <img src="{{ asset('images/logo.png') }}" alt="Symfony!" />
            <p>Lasagnes</p>
            <h2>Les lasagnes à toutes les sauces</h2>
            <a href="#">Réserver</a>
        </div>
        <div class="dish">
            <img src="{{ asset('images/Images/Plats-/2.png')}}">
            <p>Souris d'agneau</p>
            <h2>Cuite pendant 8h dans du vin</h2>
            <a href="#">Reserver</a>
        </div>
        <div class="dish">
            <img src="{{ asset('images/Images/Plats-/3.png')}}">
            <p>La raclette</p>
            <h2>charcuteries françaises</h2>
            <a href="#">Réserver</a>
        </div>
        <div class="dish">
            <img src="{{ asset('images/Images/Plats-/4.png')}}">
            <p>Variétés de poissons</p>
            <h2>Saumons, colin, </h2>
            <a href="#">Réserver</a>
        </div>
    </div>
    </div>
</section>
